.container {
  position: relative;
  width: 100%; /* Set the width of the container */
  height: 300px; /* Set the height of the container */
}

.center-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-width: 7%;
  max-height: 29%;
  margin-left: 91px;
  margin-top: 107px;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Style for the blue boxes */
/* .box {
  width: 150px; 
  height: 100px; 
  background-color: #112949; 
  color: white; 
  line-height: 100px; 
  font-size: 18px; 
  font-weight: bold; 
  margin: 10px;
  float: left; 
} */

/* Default styles for all screen sizes */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Styles for 480p (Mobile View) */
@media (max-width: 480px) {
}

/* Styles for 720p */
@media (min-width: 481px) and (max-width: 720px) {
}

/* Styles for 1080p */
@media (min-width: 721px) and (max-width: 1080px) {
}

/* Styles for 2732x2048 (Ipad) */
@media (min-width: 1081px) and (max-width: 2732px) {
}

/* Styles for 1440*823 (MacBook) */
@media (min-width: 2733px) {
}

